<%= form_with(model: @task) do |f| %>
  <p><%= f.label :title, 'Title' %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :content, 'Content' %></p>
  <p><%= f.text_area :content %></p>
  
  <% if @task.new_record? %>
    <%= f.submit "Create Task" %>
  <% else %>
    <%= f.submit "Update Task" %>
  <% end %>
<% end %>
